@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  min-width: 99%;
  margin: 30px auto;
  overflow: auto;
  min-height: 100%;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.field-entry {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  display: grid;
}

.history-entry {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: grid;
}
.history-entry-data {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
}

.nav-link {
  color: steelblue;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.center-header {
  text-align: center;
}

a.button {
  text-decoration: none;
  color: initial;
  float: right;
}
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
label {
  width: 75%;
}

.command {
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.command:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}

.setup {
  column-count: 2;
}
.setup-3 {
  column-count: 3;
}
.setup-4 {
  column-count: 4;
}

.bordered {
  border: 1px solid;
  border-radius: 10px;
  border-color: #bbb;
  padding: 14px 20px;
}

.session-section {
  grid-template-columns: auto auto;
}

.column {
  grid-column: 1/2;
}
