@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  min-width: 99%;
  margin: 30px auto;
  overflow: auto;
  min-height: 100%;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}



.title {
  font-weight:bold;
  align-items:center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.field-entry {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  display: grid;
}


.rank {
  font-size: 1.75rem;
  display:inline;
  padding-right:12px;
  top:0;
  left:0;
}

.nav-link {
  color: steelblue;
}

footer{
  margin-top: 30px;
  text-align: center;
}

iframe{
  width: 100%;
  height: 100%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.center-header{
  text-align:center;
}

a.button {
  text-decoration: none;
  color: initial;
  float:right;
}